body {
	font-family: "Helvetica Neue", Helvetica, Arial, Verdana, "Bitstream Vera Sans", sans-serif;
	margin: 0;
	padding: 0;
}
#page {
	width:660pt;
}

#page-inner {
	border-top:none;
}

#primary-menu-tne, 
#search-and-links,
#content-tabs,
.messages {
display:none;
}


a:link
  {
	color:#ccc;
	text-decoration:underline;
  }

a:visited
  {
	color:#ddd;
  }

   
.cluster {
float: none;
width: 600pt; 
}
.cluster-pieces-section {  
clear:both;
float: none;
margin: 0px;
width: 600pt;
}

.cluster-pieces {
border-left: none;
padding: 0px 0px 0px 10px;
}
.cluster-piece-item {
border-bottom: 1px dashed #AAA;
margin-bottom: 1em;
min-height: 75px;
padding-bottom: 1em;
padding-top: 0px;
width: 600pt;
}